h1 {
 color: #B56E5D; 
font-family: 'Playfair Display', serif;
 text-align: center;
 font-size: 45px ; 
 border: solid 3px #B56E5D ; 
 margin: 7px 600px 10px 600px ; 	
}

h2{
	color: #2F3A4C ; 
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 18px ; 
  text-decoration: underline ;
}

.span-bold{
font-weight: bold;
}

.moodboard{
	text-align: center;
}

.framemood{
	border: 3px solid #EBDED2 ; 
	margin: 50px 218px 30px 200px;
}
.texte {
  text-align: justify;
	margin: 50px 300px 50px 300px;
	padding: 10px ;
  font-family: 'Playfair Display', serif;
}

.logo{
  margin: 5px 500px 5px 30px ; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D7DADA;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #2F3A4C;
}

.link: hover {
  color: #C1CCCC;
}

.couleurs	{
	background: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.orange {
  height: 50px;
  width: 20%;
  background: #B56E5D;
}

.or {
  height: 50px;
  width: 30%;
  background: #C9A379;
}

.blue {
  height: 50px;
  width: 50%;
  background: #C1CCCC;
}	

body{
	background: #EBDED2;
	text-align: center;
}	

.ul{
  font-size: 12px;
  text-align: middle; 
}

.framevaleurs{
   text-align: center;
   background: #2F3A4C ;
   height: 650px;
   width : all;
}

.valeurs{
  color : #EBDED2;
}

.bandeaubleu{

}
